h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.orders-wrap{
    border: 1px solid black;
    border-radius: 10px;
}

.order{
    border: 1px solid black;
    border-radius: 10px;

    & p{
        text-align: center;
    }
}

.order-blocks-wrap{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
}

.datebegin-block{
    border: 1px solid black;
    border-radius: 10px;
}

.order-set{
    border: 1px solid black;
    border-radius: 10px;
}

.order-get{
    border: 1px solid black;
    border-radius: 10px;
}