body {
  background: url(/img/bg.jpg) no-repeat fixed center;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-block {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c0bebe;
}
.dateandtime-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.startdate {
  max-width: 340px;
}
h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
input {
  color: #c0bebe;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 50px;
  border-width: 0;
}
p {
  font-size: 25px;
  margin: 10px;
}
